# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
.next/
**/.next/
out/
**/out/
coverage/
**/coverage/

# Caches
.turbo/
**/.turbo/
.cache/
**/.cache/
.npm/
.pnpm-store/

# Env files / secrets
.env
.env.*
!.env.example
**/.env
**/.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma
**/prisma/*.db
**/prisma/*.db-journal

# Docker local volumes / uploads (se você usa pasta local)
uploads/
wa-sessions/

# Lockfiles (mantenha só o do pnpm)
package-lock.json
yarn.lock