@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --brand: 239 62 35; }

html.dark {
  --bg: 29 29 29;
  --surface: 36 36 36;
  --border: 47 47 47;
  --text: 255 255 255;
  --muted: 189 189 189;
}

body { color: rgb(var(--text)); background: rgb(var(--bg)); }
